<!DOCTYPE html>
<html>

<h3>Register New Employee Here....!</h3>

<body>
    <div>
        <div class="column">
            <form action="/action_page.php">

                <br>
                <label for="fname">First Name : </label><br>
                <input type="text" placeholder="Enter FirstName" id="firstName" ><br>
                <br>
                <label for="fname">Middle Name : </label><br>
                <input type="text" placeholder="Enter MiddleName" id="middleName"  ><br>
                <br>
                <label for="lname">Last Name : </label><br>
                <input type="text" placeholder="Enter LastName" id="lastName"><br>
                <br>
                
                <label for="fname">PermenentAddress : </label><br>
                <textarea type="text" placeholder="Enter Permenent Address" rows="4" cols="30" id="paddress"></textarea>
                <br>

                <label for="fname">CorrespondenceAddress : </label><br>
                <textarea type="text" placeholder="Enter Correspondence Address" rows="4" cols="30"
                    id="caddress"></textarea>
                <br>


            </form>
        </div>
        <div class="column">
            <form action="/action_page.php">
                <br>

                <label for="cars">Education of Employee:</label><br>
                <select name="cars" id="cars">
                    <option value="volvo">BE</option>
                    <option value="saab">BSC</option>
                    <option value="opel">MSC</option>
                    <option value="opel">MCM</option>
                    <option value="audi">BCA</option>
                    <option value="audi">OTHER</option>
                </select>

                <br>
                <br>
                <label for="fname">Years Of Experinece : </label><br>
                <input type="text" placeholder="Enter Years Of Experinece" id="firstName"><br>
                <br>
                <label for="fname">Mobile Number : </label><br>
                <input type="text" placeholder="Enter Mobile Number" id="mobileNumber"><br>
                <br>
                <label for="fname">Last Organisation : </label><br>
                <input type="text" placeholder="Previous Organisation" id="middleName"><br>
                <br>
                <label for="fname">Last to Last Organisation : </label><br>
                <input type="text" placeholder="Previous Organisation" id="middleName"><br>
                <br>
                <label for="fname">Current CTC : </label><br>
                <input type="text" placeholder="CTC of Employee" id="ctc"><br>
                <br>
                <label for="fname">Emergency Contact Number : </label><br>
                <input type="text" placeholder="Enter Emergency Contact Number" id="ctc"><br>
                <br>



            </form>
        </div>

        <div class="column">
            <form action="/action_page.php">
                <br>
                <label for="fname">Current Role : </label><br>
                <input type="text" placeholder="Enter Current Role" id="firstName"><br>
                <br>
                <label for="fname">Key Skills : </label><br>
                <input type="text" placeholder="Key Skill-1" id="keyskill1"><br>
                <input type="text" placeholder="Key Skill-2" id="keyskill2"><br>
                <input type="text" placeholder="Key Skill-3" id="keyskill3"><br>
                <input type="text" placeholder="Key Skill-4" id="keyskill4"><br>
                <br>

            </form>
        </div>

        <div class="column">
           <label for="fname">Photo : </label><br>
            <textarea type="text" placeholder="Paste Image here" rows="6" cols="15" id="paddress"></textarea>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
           

            
            <form action="/action_page.php">
                <input type="submit" value="Register Employee Profile">
            </form>
           
        </div>

        


    </div>




</body>


</html>