<section class="vh-100">
<nav class="navbar navbar-dark bg-primary">

    <ul class="navbar-nav">
        <li class="nav-item">
            <h2>Welcome To Yash Technology Employee Service Portal</h2>
        </ul>

        <ul class="navbar-nav2">
            <button (click)="logout()" routerLinkActive="active" class="nav-link">Logout</button>
        </ul>
</nav>

<br>
<div>
    <div class="column">
      
    <input type="submit" routerLink="/profile" routerLinkActive="active" id="search" value="My Profile" style="height:250px; width:300px" /><br>

        <input type="submit" routerLink="/payslip" routerLinkActive="active" id="search" value="View
Payslip" style="height:250px; width:300px" />
    </div>

    <div class="column">

        <input type="submit" id="search" value="Apply Leave" style="height:250px; width:300px" /><br>

        <input type="submit" id="search" value="Approve 
TimeSheet" style="height:250px; width:300px" />
    </div>

    <div class="column">

        <input type="submit" id="search" value="Our Goals
" style="height:250px; width:300px" /><br>

        <input type="submit" id="search" value="Upcoming 
Events" style="height:250px; width:300px" />
    </div>

    <div class="column">

        <input type="submit" id="search" value="L&D Portal" style="height:250px; width:300px" /><br>

        <input type="submit" id="search" value="Certification
Courses" style="height:250px; width:300px" />
    </div>
</div>
</section>