<nav class="navbar navbar-dark bg-primary">

    <ul class="navbar-nav">
        <li class="nav-item">
            <h2>Welcome To Yash Technology Employee Service Portal</h2>
        </ul>

</nav>


<head>
<style>
table{
width: 100%;
border-collapse:collapse;
border: 1px solid black;
}
table td{line-height:25px;padding-left:15px;}
table th{background-color:#f3f2ec; color:#363636;}
</style>

</head>
<body>
<table border="1">
<tr height="100px" style="background-color:#363636;color:#ffffff;text-align:center;font-size:24px; font-weight:600;">
<td colspan='4'>Yash Technologies Pvt. Limited</td>
</tr>
<tr>
<th>Personel NO:</th>
<td>{{employees.mobNumber}}</td>
<th>Name</th>
<td>{{employees.firstName}}</td>
</tr>
<!-----2 row--->
<tr>
<th>Bank</th>
<td>x0x0x0</td>
<th>Bank A/c No.</th>
<td>0x2x6x2xx6</td>
</tr>
<!------3 row---->
<tr>
<th>DOB</th>
<td>xx/xx/xxxx</td>
<th>Lop Days</th>
<td>0</td>
</tr>
<!------4 row---->
<tr>
<th>PF No.</th>
<td>26123xxx</td>
<th>STD days</th>
<td>30</td>
</tr>
<!------5 row---->
<tr>
<th>Location</th>
<td>India</td>
<th>Working Days</th>
<td>30</td>
</tr>
<!------6 row---->
<tr>
<th>Department</th>
<td>IT</td>
<th>Designation</th>
<td>{{employees.currentRole}}</td>
</tr>
</table>
<tr></tr>
<br/>
<table border="1">
<tr>
<th >Earnings</th>
<th>Amount</th>
<th >Deductions</th>
<th>Amount</th>
</tr>
<tr>
<td>Basic</td>
<td>{{employees.salary}}</td>
<td>provident fund</td>
<td>100</td>
</tr>
<tr>
<td>House Rent Allowance</td>
<td>0</td>
<td>professional tax</td>
<td>100</td>
</tr>
<tr>
<td>special Allowance</td>
<td>0</td>
<td>Income tax</td>
<td>100</td>
</tr>
<tr>
<td>conveyance</td>
<td>0</td>
</tr>
<tr>
<td>ADD Special allowance</td>
<td>0</td>
</tr>
<tr>
<td>shift Allowance</td>
<td>0</td>
</tr>
<tr>
<td>bonus</td>
<td>0</td>
</tr>
<tr>
<td>medical Allowance</td>
<td>0</td>
</tr>
<tr>
<th>Gross Earnings</th>
<td>{{employees.salary}}</td>
<th >Gross Deductions</th>
<td>Rs.300</td>
</tr>
<tr>
<td></td>
<td><strong>NET PAY</strong></td>
<td>{{employees.salary}}-3000</td>
<td></td>
</tr>
</table>
</body>
