h2{
  font-family: Georgia;
    color: white;
 
  }




label {
  font-weight: bold;
  font-size: 17px;
  color: rgb(0, 187, 255);
}

h3 {
  font-weight: bold;

  text-align: center;
  font-size: 30px;
  color: rgb(11, 232, 125);
}

input {
  border: 2px solid rgb(4, 1, 1);


  border-radius: 2px;
}

textarea {
  border: 2px solid rgb(4, 1, 1);
  border-radius: 2px;
}

.form-control {

  border-radius: 5px;
  border: 2px solid rgb(4, 1, 1);
  width: 220px;
  height:30px;
  
}

.form-control2 {

  border-radius: 5px;
  border: 2px solid rgb(4, 1, 1);
  width: 220px;
  height:100px;
  
}

.column{
padding-left: 75px;

}

